@model IEnumerable<Transport.Models.TransportViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fuel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransportId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RouteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fuel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { transportId = item.TransportId}) |
            @Html.ActionLink("Details", "Details", new { transportId = item.TransportId }) |
            @Html.ActionLink("Delete", "Delete", new { transportId = item.TransportId })
        </td>
    </tr>
}

</table>
