@model IEnumerable<Transport.Models.TransportViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Dispetcher") || User.IsInRole("Administration"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineNumber)
        </th>
        <th>
            Person
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fuel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @if (User.IsInRole("Dispetcher") || User.IsInRole("Administration"))
                {
                    @Html.ActionLink("Edit", "Edit", new { transportId = item.TransportId }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { transportId = item.TransportId })
                }

            </td>
        </tr>
    }

</table>
