@model IEnumerable<Transport.Models.RouteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Routes</h2>

<p>
    @if (User.IsInRole("Dispetcher") || User.IsInRole("Administration"))
    {
        @Html.ActionLink("Create New", "Create")
    }

    You booked<span class="" id="booked-count">0</span> ticktet(s)

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSport)
        </th>
        <th>
            Transport
        </th>
        <th>
            Tickets Count
        </th>
        <th>
            Person
        </th>
        <th>
            Person Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @Html.HiddenFor(modelItem => item.RouteId)
            <td>
                @Html.DisplayFor(modelItem => item.FirstStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonType.PersonTypeName)
            </td>
            <td>
                @if (User.IsInRole("Dispetcher") || User.IsInRole("Administration"))
                {
                    @Html.ActionLink("Edit", "Edit", new { routeId = item.RouteId })
                }
                |
                @if (User.IsInRole("Dispetcher") || User.IsInRole("Administration"))
                {
                    @Html.ActionLink("Delete", "Delete", new { routeId = item.RouteId })
                }
                @Html.ActionLink("Book It", "BookTicket", "Ticket", new { routeId = item.RouteId }, new AjaxOptions { UpdateTargetId = "message_box" })
            </td>
        </tr>
    }

</table>

<script type="text/javascript">


    var ticketsCount = '@ViewBag.Tickets';

    $(document).ready(function () {
        changeCount();
    });

    function changeCount() {
        $("#booked-count").text(ticketsCount);
    }


</script>
