@model IEnumerable<Transport.Models.RouteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Routes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastSport)
        </th>
        <th>
            Tickets Count
        </th>
        <th>
            Transport
        </th>
        <th>
            Person
        </th>
        <th>
            Person Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @Html.HiddenFor(modelItem => item.RouteId)
            <td>
                @Html.DisplayFor(modelItem => item.FirstStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonType.PersonTypeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { routeId = item.RouteId }) |
                @Html.ActionLink("Delete", "Delete", new { routeId = item.RouteId })
            </td>
        </tr>
    }

</table>
