@model IEnumerable<Transport.Models.TicketViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tickets</h2>

<table class="table">
    <tr>
        <th>
            Person
        </th>
        <th>
            Person Birth Date
        </th>
        <th>
            Route First Stop
        </th>
        <th>
            Route Last Stop
        </th>
        <th>
            Transport
        </th>
        <th>
            Transport Type
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            Ticket State
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @Html.HiddenFor(modelItem => item.TicketId)
            <td>
                @Html.DisplayFor(modelItem => item.Person.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.FirstStop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.LastSport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Transport.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Transport.TransportType.TransportTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketState)
            </td>
            <td>
                @if (item.TicketState != "Purchased")
                {
                    @Html.ActionLink("Confirm", "PurchaseTicket", new { id = item.TicketId })
                }
                |
                @if (item.TicketState != "Canceled")
                {
                    @Html.ActionLink("Cancel", "CancelBookedTicket", new { id = item.TicketId })
                }
                |
                @if (User.IsInRole("Administration"))
                {
                    @Html.ActionLink("Remove", "RemoveTicket", new { id = item.TicketId })
                }

            </td>
        </tr>
    }

</table>
